<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="api-autotest">
     <test name="testcases">
        <classes>
            <class name="com.test.api.TestNGClass.IdAuth"></class> 
           <!-- <class name="com.test.api.TestNGClass.PostText"></class> -->
           <methods>
                
                 <include name="baiduSearchTest" />
                <include name="sougouSearchTest" />
            </methods>
        </classes>
     
     </test>
     
</suite>